body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

input-field label.multiselect-label, .input-field label.switch-label {
    position: absolute;
    top: -26px;
    font-size: .8rem;
}


.switch label input[type=checkbox]:checked ~.lever {
    background-color: #84c7c1;
}

.switch label input[type=checkbox]:checked ~.lever:before, .switch label input[type=checkbox]:checked
    ~.lever:after {
    left: 18px;
}

.switch label input[type=checkbox]:checked ~.lever:after {
    background-color: #26a69a;
}

.switch label input[type=checkbox]:checked ~.lever:before, .switch label input[type=checkbox]:checked
    ~.lever:after {
    left: 18px;
}

nav {
    background-color: #26a69a;
}

.page-footer {
    background-color: #26a69a;;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

#convertor p, #convertor td {
	font: normal 15px Helvetica, Georgia, Arial;
	padding: 2px;
	margin: 0px;
}

#convertor input {
	border: 1px solid #E9851D;
	background: #FFFFFF;
	font: normal 15px Arial, Helvetica, sans-serif;
	color: #5D781D;
	width: 65px;
	height: 17px;
}

